<phpunit colors="true">
        <testsuite name="EC_Cache">
                <directory>tests</directory>
        </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">EC</directory>
        </whitelist>
    </filter>


    <logging>
        <log type="coverage-html" target="./tests/results" charset="UTF-8"
            yui="true" highlight="true" />
        <log type="junit" target="./tests/results/test-results.xml" />
    </logging>
</phpunit>
